.content{

  &-pane-wrapper{
    position: fixed;
    top: 110%;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    height: 100vh;
    -webkit-transition: top var(--normal) var(--ease);
    transition: top var(--normal) var(--ease);
    overflow: scroll;

    &.show{
      top: 0;
    }
  }
  
  &-pane {
  background: white;
  width: 100%;
  // height: 100vh;
  // min-height: 200vh;
  
  position: absolute;
  right: 0;
  line-height: 1.05;
  // z-index: 1000;
  -webkit-box-shadow: -9px 3px 16px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -9px 3px 16px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: top var(--normal) var(--ease);
  transition: top var(--normal) var(--ease);
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  &.show {
    top: 40vh;
  }



  .content-pane-close {
    @include close_panes
  }

  .content-pane-text {

    &-outer{
    border-radius: 15px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    overflow-y: auto;
    // height: 100vh;
    // height: calc(var(--vh, 1vh) * 100);
    -webkit-overflow-scrolling: touch;
  }

    &-inner {
      min-height: 100vh;
      // height: calc(var(--vh, 1vh) * 100);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      article {
        // padding: 44px;

        .title{
          padding: var(--content-margins) var(--content-margins) calc(var(--content-margins) * 2) var(--content-margins);
        }
        .info{
          padding: var(--content-margins);
          .artists{
            width: 360px;
          }
        }
        .carousel{
          img{
            max-width: 100%;
            width: 100%;
            max-height: 90vh;
            object-fit: cover;
          }

          .embla {
            overflow: hidden;
          }
          .embla__container {
            display: flex;
          }
          .embla__slide {
            position: relative;
            flex: 0 0 100%;
          }
        }
        .content{
          padding: calc(var(--content-margins) * 2) var(--content-margins) calc(var(--content-margins) * 4) var(--content-margins);
          width: 774px;
          p{
            // font-family: Loos Compressed;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.015em;
            text-align: left;

          }
          // float: left;
        }
        .calendar{
          // height: 65px;
          padding: calc(var(--content-margins) /2);
        }
        .footer{
          padding: calc(var(--content-margins) * 2);
        }



      }
      
    }
  
}
}
}
